<div class="container mt-5"><p class=" text-secondary mb-0">{{ post.date_published }}</p>
    <h1><a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">{{ post.title }}</a></h1>
    <p>{{ post.text | safe }}</p>
    <p>TAGS {% for tag in post.tags.all %}
        <a class="badge badge-light" href="{% url 'tag_detail_url' tag.slug %}">{{ tag }}</a>
    {% endfor %}</p>
    <p>{{ post.author }}</p>
    <a id="comment"></a>
    <p>Comments: {{ post.comments.all.count }}</p>
</div>