{% extends 'base.html' %}


{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>
    <p>Tags -
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
        {% endfor %}</p>
    <p>{{ post.date_published }}</p>
    <p>{{ post.author }}</p>
    <h4>Comments: {{ post.comment_set.all.count }}</h4>
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
            <input type="hidden" name="post_id" value="{{ post.id }}">
        </form>
    {% else %}
        <p>Чтобы оставить комментарий, авторизуйтесь</p>
    {% endif %}

    ----------------------------------------
    {% for comment in post.comments.all %}
        <p>Author - {{ comment.author }}</p>
        <p>{{ comment.text }}</p>
        <p>{{ comment.date_pub }}</p>
        {% if user.is_authenticated and comment.author == user %}
            <form action="{% url 'delete-comment' comment.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}

        <p>----------------------------------------</p>
    {% endfor %}
{% endblock %}