{% extends 'base.html' %}
{% block content %}
    {% include 'post_card.html' %}
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    {% else %}
        <p>Чтобы оставить комментарий, авторизуйтесь</p>
    {% endif %}

    ----------------------------------------
    {% for comment in post.comments.all %}
        <p>Author - {{ comment.author }}</p>
        <p>{{ comment.text | safe }}</p>
        <p>{{ comment.date_pub }}</p>
        {% if user.is_authenticated and comment.author == user %}
            <form action="{% url 'delete-comment' comment.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}
        <p>----------------------------------------</p>
    {% endfor %}
{% endblock %}